@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.8vw;
  height: 0.8vw;
}

::-webkit-scrollbar-track {
  background: #231d1d;
}

::-webkit-scrollbar-thumb {
  background: #cfb4b4;
  border-radius: 40px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: #FAF4F4;
}

.contanier {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  background-color: #FBEBB5;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
header .header__bg-img {
  position: absolute;
  left: 600px;
}
header .header__top-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 38px;
}
header .nav-list {
  margin-left: 505px;
  display: flex;
  gap: 34px;
}
header .nav-list .nav-link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
header .header__top-left {
  display: flex;
  gap: 34px;
  margin-right: 114px;
}
header .header__bottom {
  margin-top: 360px;
  padding-left: 202px;
  padding-bottom: 296px;
}
header .header__bottom .header__bottom-title {
  font-family: "Poppins";
  font-style: normal;
  width: 440px;
  font-weight: 500;
  font-size: 64px;
  line-height: 96px;
  color: #000000;
}
header .header__bottom .header__bottom-subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  width: 121px;
}
header .header__bottom .header__bottom-line {
  border: 2px solid #000000;
  width: 121px;
}

.orids .orids__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 51px;
}
.orids .orids__left-title {
  font-family: "Poppins";
  font-style: normal;
  width: 182px;
  margin-top: -50px;
  margin-left: 100px;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  color: #000000;
}
.orids .orids__left-subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  margin-left: 100px;
  margin-top: 23px;
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 36px;
  width: 125px;
  color: #000000;
}
.orids .orids__left-lin {
  border: 2px solid #000000;
  width: 121px;
  margin-left: 100px;
}

.topPicks {
  margin-top: 55px;
  background: #FFFFFF;
  background-repeat: no-repeat;
  background-size: cover;
}
.topPicks .topPicks__inner {
  margin-top: 55px;
}
.topPicks .topPicks__inner .topPicks-title {
  font-family: "Poppins";
  font-style: normal;
  padding-top: 117px;
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  color: #000000;
}
.topPicks .topPicks__inner .topPicks-sibtitle {
  font-family: "Poppins";
  font-style: normal;
  text-align: center;
  margin-top: 13px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #9F9F9F;
  margin-bottom: 116px;
}
.topPicks .topPicks__inner .topPicks_total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topPicks .topPicks__inner .topPicks__total-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  width: 194px;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.topPicks .topPicks__inner .topPicks__total-subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  width: 158px;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}
.topPicks .topPicks__bottom-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  text-align: center;
  margin-top: 69px;
  margin-bottom: 19px;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
.topPicks .topPicks__bottom-lin {
  width: 121px;
  border: 2px solid #000000;
  margin-left: 640px;
}

.Asgaard {
  background: #FFF9E5;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 80px;
}
.Asgaard .Asgaard__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Asgaard .Asgaard__left-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  width: 149px;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}
.Asgaard .Asgaard__left-subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  width: 331px;
  font-size: 48px;
  line-height: 72px;
  color: #000000;
  margin-bottom: 33px;
}
.Asgaard .Asgaard__left-btn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  background: #FBEBB5;
  border: 1px solid #000000;
  padding: 17px 74px 17px 75px;
}
.Asgaard .Asgaard__left-btn:hover {
  background: #FFF9E5;
  border-radius: 10px;
}

.Ourblogs {
  background: #FFFFFF;
  background-repeat: no-repeat;
  background-size: cover;
}
.Ourblogs .Ourblogs-title {
  font-family: "Poppins";
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  color: #000000;
  padding-top: 55px;
}
.Ourblogs .Ourblogs-subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: #9F9F9F;
  margin-top: 13px;
  margin-bottom: 65px;
}
.Ourblogs .Ourblogs__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Ourblogs .Ourblogs__cards-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin-top: 33px;
  margin-bottom: 10px;
  line-height: 30px;
  color: #000000;
  text-align: center;
}
.Ourblogs .Ourblogs__cards-subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  line-height: 36px;
  color: #000000;
}
.Ourblogs .Ourblogs__cards-lin {
  border: 2px solid #000000;
  width: 121px;
  margin-left: 135px;
  margin-top: 10px;
  margin-bottom: 19px;
}
.Ourblogs .Ourblogs__cards-img {
  margin-left: 80px;
}
.Ourblogs .Ourblogs-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
.Ourblogs .Ourblogs__cards-linl {
  border: 2px solid #000000;
  width: 121px;
  margin-left: 645px;
  margin-top: 19px;
  margin-bottom: 54px;
}

.OurInstagram {
  background-image: url(../img/beg-img.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.OurInstagram .OurInstagram__inner {
  padding-top: 124px;
  padding-bottom: 124px;
}
.OurInstagram .OurInstagram-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  text-align: center;
  font-size: 60px;
  line-height: 90px;
  color: #000000;
}
.OurInstagram .OurInstagram-subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  text-align: center;
  font-size: 20px;
  margin-bottom: 18px;
  line-height: 30px;
  color: #000000;
}
.OurInstagram .OurInstagram-btn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  margin-left: 580px;
  padding: 17px 82px 17px 81px;
  color: #000000;
  border: none;
  background: #FAF4F4;
  border-radius: 50px;
  filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.1));
}

.totals {
  background-color: #FFFFFF;
  padding: 50px;
}
.totals .totals__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.totals .totals__one-title {
  font-family: "Poppins";
  font-style: normal;
  width: 285px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #9F9F9F;
}
.totals .totals__two-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #9F9F9F;
  margin-bottom: 55px;
}
.totals .list-item {
  margin: 46px 0 46px 0;
}
.totals .nav-link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.totals .totals__tree-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #9F9F9F;
  margin-bottom: 55px;
}
.totals .totals__tree-subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin: 46px 0 46px 0;
}
.totals .totals__for-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #9F9F9F;
  margin-bottom: 53px;
}
.totals .helper {
  display: flex;
  gap: 15px;
}
.totals .helper .totals__helper-subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #9F9F9F;
}
.totals .helper .total__helper {
  border: 1px solid #000000;
  width: 121px;
}
.totals .helper .totals__helper-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
.totals .totals__length {
  border: 1px solid #D9D9D9;
  width: 1240.01px;
  margin-top: 48px;
}
.totals .totals__bottom-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  width: 306px;
  line-height: 24px;
  color: #000000;
  margin-top: 30px;
}/*# sourceMappingURL=main.css.map */